section{ text-align: center;}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-item{
  color: white;
  margin: 0 1em 1em;
}

.flex-item{
  border-radius: 5px;
}

@media screen and (max-width: 780px) {
  .flex-container{
    flex-direction: column;
  }
}
